<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Аптеки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light" style="background-color:	#a0d6b4">
    <div class="container">
        <a class="navbar-brand" href="/home/en">Аптека до тебе</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/home/en">Home</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/pharmacy/all/en">Pharmacies</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/pharmacy/map/en">Map</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/pharmacy/help/en">Help</a>
                </li>
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/home/mk">MK</a>
                </li>
            </ul>


        </div>
    </div>
</nav>
<section class="jumbotron text-center" style="background-repeat: no-repeat; padding: 380px; position: fixed;  background-size: cover; background-image:url('https://f.hubspotusercontent10.net/hub/491011/hubfs/LS%20Central%20for%20Pharmacy/Pharmacy-background-2.jpg?length=2000&name=Pharmacy-background-2.jpg')">
    <div class="container">
        <h1 class="jumbotron-heading">All pharmacies</h1>
        <h2>Listing of all pharmacies</h2>

    </div>
</section>
<!-- Footer -->
<footer class="text-black-50 mt-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">

                </p>
            </div>

        </div>
    </div>
</footer>
<div class="bg-light text-center text-lg-start" style="position:fixed; width:100%; left:0; bottom:0;">
    <div class="text-center p-3" style="background-color: #a3c1ad">
        © 2020 Copyright:
        <a class="text-dark">Republic of North Macedonia</a>
    </div>
</div>
</body>
</html>
